Elrob/Service References/ExcelServiceServiceReference/ExcelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30761/ExcelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Elrob.Webservice.Dto" />
  <xs:element name="ImportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Elrob.Webservice.Dto" minOccurs="0" name="importDataRequest" nillable="true" type="q1:ImportDataRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Elrob.Webservice.Dto" minOccurs="0" name="ImportDataResult" nillable="true" type="q2:ImportDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>