Elrob/Service References/ExcelServiceServiceReference/ExcelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Elrob.Webservice.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Elrob.Webservice.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImportDataRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportDataRequest" nillable="true" type="tns:ImportDataRequest" />
  <xs:complexType name="ImportDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderContents" nillable="true" type="tns:ArrayOfOrderContent" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportDataResponse" nillable="true" type="tns:ImportDataResponse" />
  <xs:complexType name="ArrayOfOrderContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderContent" nillable="true" type="tns:OrderContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderContent" nillable="true" type="tns:ArrayOfOrderContent" />
  <xs:complexType name="OrderContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="tns:Material" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="PackageQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="tns:Place" />
      <xs:element minOccurs="0" name="Thickness" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ToComplete" type="xs:int" />
      <xs:element minOccurs="0" name="UnitWeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderContent" nillable="true" type="tns:OrderContent" />
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Place">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Place" nillable="true" type="tns:Place" />
</xs:schema>